.card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: #f0f0f0;   
    width: 500px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
    margin: 40px 20px;
    transition: 0.3s;
    z-index: 1;
}

.card.active {
    z-index: 2;
}

.card:hover {
    box-shadow: 0px 14px 28px rgba(0,0,0,0.25), 0px 10px 10px rgba(0,0,0,0.22);
}

.name {
    background-color: #383c53;
    color: white;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    overflow: auto;
}

.description {
    position: absolute;
    width: 100%;
    background: white;
    border-radius: 0 0 30px 30px;
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    max-height: 0;
    visibility: hidden;
    transition: max-height 0.3s ease-in-out, visibility 0.3s ease-in-out;
    overflow: hidden;
    z-index: 0;
    padding-top: 70px; 
    transition: max-height 0.1s ease-in-out, visibility 0.1s ease-in-out;
}

.description.show {
    max-height: 500px; /* adjust this value as needed */
    visibility: visible;
}


.cont {
    width: 100vw;
}
