.card {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 300px;
}

.container {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 100px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.cont {
    margin-left: 100px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    /* Optional: Add some gap between grid items */
}